@page "{id:Guid?}"
@model KentNoteBook.WebApp.Pages.UserManagement.Dialog.RoleEditModel
@{
    ViewData["Title"] = "RoleEdit";

	Layout = null;
}

<form id="form_user_edit" class="pl-3" method="post" ajax-form="true">
	@Html.HiddenFor(x => x.Id)

	<div class="form-group row">
		<label class="col-sm-2 col-form-label-sm">User Name </label>
		<div class="col-sm-8">
			@Html.TextBoxFor(x => x.Data.Name, new { @class = "form-control form-control-sm" })
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">IsActive</label>
		<div class="col-sm-8 align-middle">
			<div class="custom-control custom-checkbox my-1">
				@Html.CheckBoxFor(x => x.Data.IsActive, new { @class = "custom-control-input" })
				<label class="custom-control-label" for="Data_IsActive">Active</label>
			</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label-sm">Discription </label>
		<div class="col-sm-8">
			@Html.TextAreaFor(x => x.Data.Description, new { @class = "form-control form-control-sm" })
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label">&nbsp;</label>
		<div class="col-sm-8">
			<button type="submit" class="btn btn-primary" ajax-button="true" data-alert-panel="#form_edit_alert_panel" data-update-panel="#tbRoles" asp-page-handler="Save">Save changes</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	</div>
	@Html.ValidationSummary(false, null, new { @class = "alert alert-danger" })
	<div id="form_edit_alert_panel"></div>
</form>
